*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
#calculator{
  max-width: 18%;
  height: auto;
  border: 1px solid rgb(125, 189, 245);
  margin: auto;
  margin-top: 40px;
}
#display{
  height: 230px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(125, 189, 245);
  text-align: right;
  font-size: 30px;
  margin-bottom: 10px;
  background-color: white;
  word-wrap: break-word;
  padding-top: 100px;
}
#calc-upper{
  display: flex;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 4px;
}
#history{
  border: none;
  background-color: white;
  color: rgb(125, 189, 245);
  font-weight: 600;
}
#delete{
  background-color: rgb(125, 189, 245);
  color: white;
  width: 30px;
  border: 1px solid rgb(125, 189, 245);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
}
#calc-lower{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 10px;
  border-top: 1px solid rgb(125, 189, 245);
}
#calc-lower >button:nth-child(1),
#calc-lower >button:nth-child(2),
#calc-lower >button:nth-child(3),
#calc-lower >button:nth-child(4),
#calc-lower >button:nth-child(8),
#calc-lower >button:nth-child(12),
#calc-lower >button:nth-child(16){
  color: rgb(24, 137, 236);
  background-color: rgba(24, 137, 236, 0.199);
}

#calc-lower >button:nth-child(20){
  color: white;
  background-color: green;
}
#calc-lower >button{
  height: 40px;
  text-align: center;
  color: rgb(83, 67, 67);
  border: 1px solid rgba(125, 189, 245, 0.15);
  background-color: white;
}